@import '~grommet/scss/hpe/index';

* {
  box-sizing: border-box;
}

div {
  max-width: 100%;
}

// Add padding for footer.
.grommetux-app > div {
  padding-bottom: 105px;
}

// Sticky footer.
.app-footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
